.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #e4efff;
    padding: 10px 0;
    font-weight: 500;
    width: 100%;
}

.a{
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
    margin-left: 5px;
}