.container{
    padding: 1.25em 1.56em;
    background-color: var(--fondo);
    border-radius: 1em;
    margin: calc(.25em / 2) 1.56em;
}

.title{
    margin-bottom: .5em;
}

.containerUsers{
    padding: 1em 0;
    cursor: pointer;
}

.containerUser{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: .5em;
    transition: all 300ms ease;
}

.containerUser:hover{
    color: var(--celeste);
}

.containerUser:hover > .userCont .userIcon{
    scale: 1.15;
}

.userCont{
    background-color: var(--blanco);
    width: 2.8em;
    height: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5em;
    transition: all 300ms ease;
}

.userIcon{
    width: 2em;
    transition: all 300ms ease;
}