.container{
    padding: 1.25em 1.56em;
    position: relative;
}

.title{
    color: var(--celeste);
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}

.desc{
    text-align: center;
    margin: 1em;
}